# Ignore node_modules and npm log files
node_modules
npm-debug.log
yarn-error.log

# Ignore .env files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore Next.js build output
.next
out

# Ignore build directories and logs
dist
build
logs

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git-related files
.git
.gitignore

# Ignore editor directories and files
.vscode
.idea
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other unnecessary files
*.log
*.cache
coverage
*.tsbuildinfo
